<div class="drawPanel">
    <div class="drawPanelHead">绘制图形</div>
    <div class="drawPanelBody">

    </div>
</div>

<style>
    .drawPanel{
        position: absolute;
        left: 50px;
        top: 300px;
        min-width: 200px;
        box-sizing: content-box;
    }
    .drawPanelHead{
        padding-left: 20px;
        height: 30px;
        line-height: 30px;
        background: turquoise;
        color: #fff;
    }
</style>